.elements {
  width: calc(100% - (19px * 2));
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 880px;
    margin-left: 200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
  }
}