.profile {
  width: calc(100% - (19px * 2));
  margin: 42px auto 34px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .profile {
    width: 880px;
    margin: 0px 200px 48px;
    flex-direction: row;
    align-items: center;
  }
}