.profile__info {
  width: calc(100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .profile__info {
    width: calc(100% - 120px - 30px - 244px - 150px);
    margin-right: 244px;
  }  
}