.profile__title {
  font-weight: 500;
  line-height: 33px;
  font-size: 27px;
  margin: 0;
  margin-right: 10px;
  margin-left: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 189px;
}

@media screen and (min-width: 1280px) {
  .profile__title {
    max-width: calc(100% - 18px - 24px);
    margin: 0;
    font-size: 42px;
    line-height: 48px;
    margin-right: 18px;
    margin-top: 5px;
  }
}