.popup__button-close {
  background: url(../../../images/close_button.svg) no-repeat center;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: -35px;
  right: 0px;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .popup__button-close {
    top: -43px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-size: 32px;
  } 
}